<hr>
<div class="container">
  <div class="comment-display row">
    <div class="col-sm-4">
      <h4>User: {{comment.author}}</h4>

    </div>
    <div class="col-sm-8">

      <p>{{comment.message}}</p>
    </div>
 </div>
</div>
