<div class="navbar navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
           <li ><a href="/about">About</a></li>
           <a class="navbar-brand" href="/">Stumptown Beans</a>
           <li><a href="/contact">Contact</a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>
<div>
  {{outlet}}
</div>

<hr>

<footer>
</footer>
<div class="navbar navbar-fixed-bottom" role="navigation">
<div class="container">
    <div class="navbar-text pull-left">
      <p>{{#link-to 'contact'}}Click here{{/link-to}}! © 2016 Eddie Duro and Josh Overly.</p>

    </div>
</div>
</div>
